<html>
<head>
<title>Demo Chat - Vinh LD </title>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="config.js"></script>
<script src="changepassword.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body style="background-color: #1D1D1D;">

  <div id="login-box">
    <input type="text" class="input-login-changepassword" id="txtOldPassword" placeholder="Old Password">
    <input type="password" class="input-login-changepassword" id="txtNewPassword" placeholder="New Password">
    <input type="password" class="input-login-changepassword" id="txtConfirmNewPassword" placeholder="Confirm New Password">
    <button type="button" class="button-login-changepassword" id="btnSaveChange">Save Change</button>
  </div>

</body>

</html>
