<html>
<head>
<title>Demo Chat - Vinh LD </title>
<script src="jquery.js"></script>
<script src="moment.js"></script>
<script src="https://chat-with-vinhld.herokuapp.com/socket.io/socket.io.js"></script>
<script src="config.js"></script>
<script src="home.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body style="background-color: #D1D1D1;">
  <div id="body-home">
    <div id="input-send-message">
      <input type="text" id="txtMessage" placeholder="Type a message">
      <button type="button" id="btnSend">Send</button>
      <button type="button" id="btnLogout">Logout</button>
      <button type="button" id="btnChangePassword">Change Password</button>
    </div>

    <div id="messages">
      <h4>Messages</h4>
      <div id="list-messages">

      </div>
    </div>
  </div>
</body>

</html>
