<html>
<head>
<title>Chat with VinhLD - Login</title>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="config.js"></script>
<script src="login.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body style="background-color: #1D1D1D;">

  <div id="login-box">
    <input type="text" class="input-login-changepassword" id="txtUsername" placeholder="Username">
    <input type="password" class="input-login-changepassword" id="txtPassword" placeholder="Password">
    <button type="button" class="button-login-changepassword" id="btnLogin">LOGIN</button>
  </div>

</body>

</html>
