<html>
<head>
<title>Demo Chat - Vinh LD </title>
<script src="jquery.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body style="background-color: #1D1D1D;">
  <div id="page-not-found">
    <span style="color: red; width: 100%;">ERROR!</span><br/><br/>
    <span style="color: blue; width: 100%;">PAGE not Found!</span>
  </div>
</body>

</html>
